<% content_for :header, "List" %>

<% content_for :sidebar do %>
<div class="sidebar__item">
  <div class="sidebar__item-inner">
    <a href="<%=h WebProfiler::Router.url_for_clean_profiler %>">
      <i class="icn"></i>
      <span>Cleanup database</span>
    </a>
  </div>
</div>
<% end %>

<div class="block">
  <table>
    <thead>
      <tr>
        <th>token</th>
        <th>method</th>
        <th>status</th>
        <th>url</th>
        <th>ip</th>
        <th>date</th>
      </tr>
    </thead>
    <tbody>
    <% @collections.each do |r| %>
      <tr>
        <td><a href="<%=h WebProfiler::Router.url_for_profiler(r.token) %>"><%=h r.token %></a></td>
        <td><%=h r.http_method %></td>
        <td><%=h r.http_status %></td>
        <td><%=h r.url %></td>
        <td><%=h r.ip %></td>
        <td><span title="<%= r.created_at %>"><%=h r.created_at.strftime('%a, %d %b %Y %T %Z') %></span></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
