<% content_for :toolbar do %>
  <%= partial 'profiler.erb', variables: { collectors: @collectors, collection: @collection } %>
<% end %>
<% content_for :header do %>
  <a href="<%= @collection.url %>"><%=h @collection.url %></a>
<% end %>
<% content_for :sidebar do %>
  <% @collectors.each do |_k, collector| %>
    <% if collector_has_panel?(collector, @collection) %>
    <div class="sidebar__item">
      <div class="sidebar__item-inner">
        <a href="<%=h WebProfiler::Router.url_for_profiler(@collection.token, collector.identifier) %>">
          <i class="icn">
            <% unless collector.icon.nil? %><img alt="" src="<%=h collector.icon %>" /><% end %>
          </i>
          <span><%=h collector.label.capitalize %></span>
        </a>
      </div>
    </div>
    <% end %>
  <% end %>
<% end %>

<div class="rack-webprofiler_collectors_<%=h @collector.identifier.to_s %>">
  <%= collector_panel(@collector, @collection) %>
</div>
