<style>
<%= partial 'assets/css/profiler.css' %>
</style>
<%
  datas = @collection.datas
  token = @collection.token
%>
<div id="rack-webprofiler-bar" class="rack-webprofiler--long">
  <div class="rack-webprofiler__wrapper">
  <% @collectors.each do |name, collector| %>
    <div class="rack-webprofiler__item rack-webprofiler_collectors_<%= name %>">
    <% unless collector.icon.nil? %>
      <i class="icn"><img alt="" src="<%= collector.icon %>" /></i>
    <% end %>

      <% render_collector(collector, datas[name.to_sym][:datas]) %>
      <span class="rack-webprofiler__item__value"><%= content_for :tab %></span>
      <span class="rack-webprofiler__item__status-color <%= datas[name.to_sym][:status] %>"></span>
      <a href="<%= WebProfiler::Router.url_for_profiler(token, name) %>">+</a>
    </div>
  <% end %>
  </div>
</div>
